# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
/eagle/vilnius_rev_a.b#6
/eagle/vilnius_rev_a.b#7
/eagle/vilnius_rev_a.b#8
/eagle/vilnius_rev_a.b#9
/eagle/vilnius_rev_a.b#2
/eagle/vilnius_rev_a.b#3
/eagle/vilnius_rev_a.b#4
/eagle/vilnius_rev_a.b#5
/eagle/*.b#1
/eagle/*.b#2
/eagle/*.b#3
/eagle/*.pro
/eagle/*.s#1
/Vilnius.X/build/Debug/debug/_ext/1472/*.p1
/Vilnius.X/build/Debug/debug/_ext/1472/*.d
/Vilnius.X/build/Debug/debug/_ext/1472/*.pre
/Vilnius.X/build/Debug/debug/_ext/1935753226/*.p1
/Vilnius.X/build/Debug/debug/_ext/1935753226/*.d
/Vilnius.X/build/Debug/debug/_ext/1935753226/*.pre
/Vilnius.X/build/Debug/production/_ext/1472/*.p1
/Vilnius.X/build/Debug/production/_ext/1472/*.d
/Vilnius.X/build/Debug/production/_ext/1472/*.pre
/Vilnius.X/build/Debug/production/_ext/1935753226/*.p1
/Vilnius.X/build/Debug/production/_ext/1935753226/*.d
/Vilnius.X/build/Debug/production/_ext/1935753226/*.pre
/Vilnius.X/build/Relocated/production/_ext/1472/*.p1
/Vilnius.X/build/Relocated/production/_ext/1472/*.d
/Vilnius.X/build/Relocated/production/_ext/1472/*.pre
/Vilnius.X/build/Relocated/production/_ext/1935753226/*.p1
/Vilnius.X/build/Relocated/production/_ext/1935753226/*.d
/Vilnius.X/build/Relocated/production/_ext/1935753226/*.pre
/Vilnius.X/build/default/production/_ext/1472/*.p1
/Vilnius.X/build/default/production/_ext/1472/*.d
/Vilnius.X/build/default/production/_ext/1472/*.pre
/Vilnius.X/dist/Debug/debug/*.cmf
/Vilnius.X/dist/Debug/debug/*.hxl
/Vilnius.X/dist/Debug/debug/*.lst
/Vilnius.X/dist/Debug/debug/*.map
/Vilnius.X/dist/Debug/debug/*.rlf
/Vilnius.X/dist/Debug/debug/*.sdb
/Vilnius.X/dist/Debug/debug/*.sym
/Vilnius.X/dist/Debug/production/*.cmf
/Vilnius.X/dist/Debug/production/*.hxl
/Vilnius.X/dist/Debug/production/*.lst
/Vilnius.X/dist/Debug/production/*.map
/Vilnius.X/dist/Debug/production/*.rlf
/Vilnius.X/dist/Debug/production/*.sdb
/Vilnius.X/dist/Debug/production/*.sym
/Vilnius.X/dist/Relocated/production/*.cmf
/Vilnius.X/dist/Relocated/production/*.hxl
/Vilnius.X/dist/Relocated/production/*.lst
/Vilnius.X/dist/Relocated/production/*.map
/Vilnius.X/dist/Relocated/production/*.rlf
/Vilnius.X/dist/Relocated/production/*.sdb
/Vilnius.X/dist/Relocated/production/*.sym
*.b#7
*.s#4
*.s#5
*.s#6
